.__json-key__ {
  color: purple,
}

.__json-string__ {
  color: rgb(0, 128, 58),
}

.__json-value__ {
  color: rgb(246, 37, 0),
}

.__json-pretty__ {
  color: rgb(0, 119, 246),
}

#json-pretty {
  background-color: lightgray;
}